/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol {
  list-style: decimal;
  margin-left: 20px; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 16px sans-serif;
  /*font-family: Verdana, sans-serif;*/ }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1em; }

/*h4,p,label{
	font-size: $small;
}*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.headerWrap {
  margin-bottom: -122px; }

#wrapper {
  font-size: 0.75em;
  min-height: 100%; }
  #wrapper #main_content {
    min-width: 1100px;
    margin: 0 auto;
    width: 1100px;
    overflow: auto;
    padding-bottom: 165px;
    padding-top: 122px; }
    #wrapper #main_content .left_column {
      float: left;
      margin: 20px 0 30px;
      width: 730px; }
      #wrapper #main_content .left_column .ausa_left {
        min-height: 800px; }
        #wrapper #main_content .left_column .ausa_left .video_description {
          margin: 15px auto; }
          #wrapper #main_content .left_column .ausa_left .video_description h3 {
            margin-bottom: 10px;
            font-size: 1.5em; }
    #wrapper #main_content #schedule_wrap {
      border: 1px solid #E8E8E8;
      font-size: 1.1em;
      height: 30px;
      padding: 10px;
      position: relative; }
      #wrapper #main_content #schedule_wrap #schedule_groups {
        position: absolute;
        left: 10px; }
        #wrapper #main_content #schedule_wrap #schedule_groups #group_select_dl {
          border-left: 1px solid #E8E8E8;
          border-top: 1px solid #E8E8E8;
          border-bottom: 1px solid #E8E8E8;
          cursor: pointer;
          float: left;
          font-weight: bold;
          height: 28px;
          width: 300px; }
          #wrapper #main_content #schedule_wrap #schedule_groups #group_select_dl dd {
            background-color: #FFF;
            border-left: 1px solid #E8E8E8;
            border-right: 1px solid #E8E8E8;
            border-top: 1px solid #E8E8E8;
            display: none;
            margin: auto -1px;
            padding: 7px;
            z-index: 999; }
            #wrapper #main_content #schedule_wrap #schedule_groups #group_select_dl dd.last {
              border-bottom: 1px solid #E8E8E8; }
            #wrapper #main_content #schedule_wrap #schedule_groups #group_select_dl dd:hover, #wrapper #main_content #schedule_wrap #schedule_groups #group_select_dl dd:focus {
              background-color: #FFF5CD; }
          #wrapper #main_content #schedule_wrap #schedule_groups #group_select_dl dt {
            margin-bottom: -1px;
            overflow: hidden;
            padding: 7px;
            white-space: nowrap; }
            #wrapper #main_content #schedule_wrap #schedule_groups #group_select_dl dt a {
              color: #000;
              text-decoration: none; }
        #wrapper #main_content #schedule_wrap #schedule_groups #arrow {
          background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/drop_down_inactive.png");
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          cursor: pointer;
          float: left;
          height: 30px;
          width: 62px; }
          #wrapper #main_content #schedule_wrap #schedule_groups #arrow:hover, #wrapper #main_content #schedule_wrap #schedule_groups #arrow:focus {
            background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/drop_down_active.png");
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent; }
      #wrapper #main_content #schedule_wrap #schedule_search {
        position: absolute;
        right: 10px; }
        #wrapper #main_content #schedule_wrap #schedule_search label {
          display: none; }
        #wrapper #main_content #schedule_wrap #schedule_search input {
          border-right: none;
          color: #9E9E9E;
          font-size: 1em;
          float: left;
          height: 26px;
          width: 237px; }
        #wrapper #main_content #schedule_wrap #schedule_search .search_icon {
          background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/search_inactive.png");
          background-repeat: no-repeat;
          background-position: right center;
          background-color: transparent;
          float: left;
          cursor: pointer;
          vertical-align: middle;
          height: 30px;
          float: left;
          display: inline;
          width: 62px; }
          #wrapper #main_content #schedule_wrap #schedule_search .search_icon:hover, #wrapper #main_content #schedule_wrap #schedule_search .search_icon:focus {
            background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/search_active.png");
            background-repeat: no-repeat;
            background-position: right center;
            background-color: transparent; }
        #wrapper #main_content #schedule_wrap #schedule_search .reset_icon {
          background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/reset_inactive.png");
          background-repeat: no-repeat;
          background-position: right center;
          background-color: transparent;
          float: left;
          cursor: pointer;
          vertical-align: middle;
          height: 30px;
          float: left;
          display: inline;
          width: 62px; }
          #wrapper #main_content #schedule_wrap #schedule_search .reset_icon:hover, #wrapper #main_content #schedule_wrap #schedule_search .reset_icon:focus {
            background-image: url("http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/reset_active.png");
            background-repeat: no-repeat;
            background-position: right center;
            background-color: transparent; }
    #wrapper #main_content #schedule_items {
      border-left: 1px solid #E8E8E8;
      border-right: 1px solid #E8E8E8; }
      #wrapper #main_content #schedule_items .item_wrap {
        border-bottom: 1px solid #E8E8E8;
        cursor: pointer;
        padding: 10px; }
        #wrapper #main_content #schedule_items .item_wrap h2 {
          font-size: 1.5em; }
        #wrapper #main_content #schedule_items .item_wrap:hover, #wrapper #main_content #schedule_items .item_wrap:focus {
          background-color: #FFF5CD; }
        #wrapper #main_content #schedule_items .item_wrap.active {
          background-color: #FFF5CD; }
      #wrapper #main_content #schedule_items .indent {
        margin-left: 20px; }
      #wrapper #main_content #schedule_items ul {
        list-style-type: disc;
        margin-left: 20px; }
      #wrapper #main_content #schedule_items .Tues, #wrapper #main_content #schedule_items .Wed, #wrapper #main_content #schedule_items .search_results {
        display: none; }
    #wrapper #main_content .right_column {
      float: left;
      margin: 20px 0 30px 21px;
      max-height: 1200px;
      min-width: 347px;
      overflow: auto;
      width: 347px; }
      #wrapper #main_content .right_column #schedule_wrap {
        height: 70px; }
        #wrapper #main_content .right_column #schedule_wrap #schedule_groups {
          float: left;
          left: 0;
          margin-top: 10px;
          position: relative; }
          #wrapper #main_content .right_column #schedule_wrap #schedule_groups #group_select_dl {
            width: 245px; }
        #wrapper #main_content .right_column #schedule_wrap #schedule_search {
          float: left;
          position: relative;
          right: 0; }
          #wrapper #main_content .right_column #schedule_wrap #schedule_search input {
            z-index: 1; }
    #wrapper #main_content .fb_feed {
      float: left;
      margin-right: 10px;
      width: 62%; }
    #wrapper #main_content .twitter_feed {
      float: left; }

#index #wrapper #main_content .right_column {
  border: none; }

#twitter_feed_wrap h5 {
  padding-bottom: 10px; }

.headerWrap {
  width: 100%; }
  .headerWrap .widgetWrap .rv6HeaderWidget {
    width: 100%;
    height: 122px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background: #6a6a6a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #858585 0%, #505050 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #858585), color-stop(100%, #505050));
    /* 		Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #858585 0%, #505050 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #858585 0%, #505050 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #858585 0%, #505050 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#505050',GradientType=0 );
    /* IE6-9 */
    background: linear-gradient(top, #858585 0%, #505050 100%);
    /* W3C */
    -webkit-box-shadow: 0px 0px 4px rgba(153, 153, 153, 0.75);
    -moz-box-shadow: 0px 0px 4px rgba(153, 153, 153, 0.75);
    box-shadow: 0px 0px 4px rgba(153, 153, 153, 0.75); }
    .headerWrap .widgetWrap .rv6HeaderWidget .container {
      width: 971px;
      margin: 0 auto; }
      .headerWrap .widgetWrap .rv6HeaderWidget .container .camo {
        background: url(http://usarmy.vo.llnwd.net/e2/rv6_images/homepage/header/camo.png) bottom left no-repeat;
        width: 752px;
        height: 122px; }
        .headerWrap .widgetWrap .rv6HeaderWidget .container .camo .hide, .headerWrap .widgetWrap .rv6HeaderWidget .container .camo .hide2 {
          height: 1px;
          left: 0px;
          overflow: hidden;
          position: absolute;
          top: -500px;
          width: 1px; }
        .headerWrap .widgetWrap .rv6HeaderWidget .container .camo img {
          margin-top: 15px; }

.footerWrap {
  clear: both;
  height: 165px;
  margin-top: -165px;
  position: relative;
  font-family: sans-serif; }
  .footerWrap .widgetWrap .footer {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background-color: #707070; }
    .footerWrap .widgetWrap .footer .container {
      width: 971px;
      margin: 0 auto;
      padding-top: 10px; }
      .footerWrap .widgetWrap .footer .container .left {
        position: relative;
        /* both */
        float: left;
        width: 19.8%;
        background-color: #707070;
        /* both */
        height: 135px;
        border-right: 1px solid #858585; }
        .footerWrap .widgetWrap .footer .container .left p.footerheading {
          font-size: 14px;
          color: #ffffff;
          font-weight: bold;
          padding: 0 10px;
          text-shadow: 0px -1px 1px #333; }
        .footerWrap .widgetWrap .footer .container .left .rv6links {
          list-style: none;
          padding-left: 10px;
          font-size: 12px; }
          .footerWrap .widgetWrap .footer .container .left .rv6links li {
            padding-top: 5px; }
            .footerWrap .widgetWrap .footer .container .left .rv6links li a {
              color: #ffffff;
              text-decoration: none;
              font-weight: normal; }
              .footerWrap .widgetWrap .footer .container .left .rv6links li a:hover, .footerWrap .widgetWrap .footer .container .left .rv6links li a:focus {
                text-decoration: underline; }
      .footerWrap .widgetWrap .footer .container .right {
        position: relative;
        float: right;
        right: 0px;
        width: 20%;
        background-color: #707070; }
        .footerWrap .widgetWrap .footer .container .right p.footerheading {
          font-size: 14px;
          color: #ffffff;
          font-weight: bold;
          padding: 0 10px;
          text-shadow: 0px -1px 1px #333; }
        .footerWrap .widgetWrap .footer .container .right .rv6links {
          list-style: none;
          padding-left: 10px;
          font-size: 12px; }
          .footerWrap .widgetWrap .footer .container .right .rv6links li {
            padding-top: 5px; }
            .footerWrap .widgetWrap .footer .container .right .rv6links li a {
              color: #ffffff;
              text-decoration: none;
              font-weight: normal; }
              .footerWrap .widgetWrap .footer .container .right .rv6links li a:hover, .footerWrap .widgetWrap .footer .container .right .rv6links li a:focus {
                text-decoration: underline; }
  .footerWrap .widgetWrap .clearfix {
    display: inline-block; }
  .footerWrap .widgetWrap .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.widgetWrap .rv6navBar {
  padding: 1px;
  margin-bottom: 10px; }

.rv6navBar {
  font-size: 13px;
  background: #ffffff;
  border: 1px solid #b6b6b6;
  border-top: 0;
  height: 26px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius-bottomright: 4px;
  -webkit-border-radius-bottomleft: 4px;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #e0e0e0 50%, #d0d0d0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(50%, #e0e0e0), color-stop(100%, #d0d0d0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ededed 0%, #e0e0e0 50%, #d0d0d0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ededed 0%, #e0e0e0 50%, #d0d0d0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ededed 0%, #e0e0e0 50%, #d0d0d0 100%);
  /* IE10+ */
  background: linear-gradient(top, #ededed 0%, #e0e0e0 50%, #d0d0d0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d0d0d0',GradientType=0 );
  /* IE6-9 */ }
  .rv6navBar a:hover, .rv6navBar a:focus {
    text-decoration: none !important; }
  .rv6navBar .rv6dropDownNav {
    float: left;
    font-size: 13px;
    width: 689px; }
    .rv6navBar .rv6dropDownNav li {
      float: left;
      display: block;
      height: 27px;
      line-height: 2.1em;
      margin: 0;
      position: relative;
      z-index: 999;
      border-right: 1px solid #b6b6b6;
      padding: 0; }
      .rv6navBar .rv6dropDownNav li a {
        display: block;
        font-family: sans-serif;
        height: 23px;
        padding: 0 6px;
        font-weight: normal;
        color: #3d3d3d !important;
        text-decoration: none; }
        .rv6navBar .rv6dropDownNav li a:hover, .rv6navBar .rv6dropDownNav li a:focus {
          color: #3d3d3d !important; }
      .rv6navBar .rv6dropDownNav li ul {
        background: #fff;
        border-right: solid 1px #eee;
        left: -1px;
        padding: 0;
        top: 38px;
        width: 150px;
        float: left;
        /*width: 148px;*/
        z-index: 1000; }
        .rv6navBar .rv6dropDownNav li ul:last-child {
          border: 0; }
        .rv6navBar .rv6dropDownNav li ul li {
          background: none;
          border: none;
          display: block;
          font-size: 0.9em;
          height: auto;
          line-height: 2.6em;
          padding: 0; }
          .rv6navBar .rv6dropDownNav li ul li a {
            background: none;
            color: #3d3d3d;
            display: block;
            height: auto;
            padding: 0 0 0 10px;
            width: 139px; }
            .rv6navBar .rv6dropDownNav li ul li a:hover, .rv6navBar .rv6dropDownNav li ul li a:focus {
              background-image: none;
              background-color: #FFF2bF;
              color: #3d3d3d; }
        .rv6navBar .rv6dropDownNav li ul .sfHover {
          background: none;
          color: #3d3d3d;
          display: block;
          height: auto;
          padding: 0 0 0 10px;
          width: 139px; }
      .rv6navBar .rv6dropDownNav li .news {
        width: 453px; }
      .rv6navBar .rv6dropDownNav li:hover, .rv6navBar .rv6dropDownNav li:focus {
        background: #fff;
        color: #3d3d3d; }
        .rv6navBar .rv6dropDownNav li:hover a.rv6navtop, .rv6navBar .rv6dropDownNav li:focus a.rv6navtop {
          border-bottom: 2px solid #7b8738; }
      .rv6navBar .rv6dropDownNav li .sfHover {
        background: #fff;
        color: #3d3d3d; }
        .rv6navBar .rv6dropDownNav li .sfHover a {
          background: #fff;
          color: #3d3d3d; }
      .rv6navBar .rv6dropDownNav li div {
        position: absolute;
        display: none;
        width: 139px;
        background-color: #FFF;
        top: 29px;
        left: 0; }
        .rv6navBar .rv6dropDownNav li div li:hover, .rv6navBar .rv6dropDownNav li div li:focus {
          background: none;
          color: #3d3d3d;
          display: block;
          height: auto;
          width: 139px; }
      .rv6navBar .rv6dropDownNav li .tinyBridge {
        display: none;
        width: 100%;
        height: 2px;
        background: #fff;
        position: relative !important;
        top: 0;
        z-index: 10000; }
    .rv6navBar .rv6dropDownNav .curve {
      margin-left: -1px; }
      .rv6navBar .rv6dropDownNav .curve:hover, .rv6navBar .rv6dropDownNav .curve:focus {
        -moz-border-radius-bottomleft: 4px;
        -webkit-border-radius-bottomleft: 4px; }
    .rv6navBar .rv6dropDownNav li.curve.menuhover {
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-radius-bottomleft: 4px; }
    .rv6navBar .rv6dropDownNav .curve .glow {
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-radius-bottomleft: 4px; }
    .rv6navBar .rv6dropDownNav .glow {
      display: block;
      border: 1px solid #FFF;
      border-top: 0;
      height: 26px;
      padding: 0 12px; }
      .rv6navBar .rv6dropDownNav .glow a.rv6navtop:hover, .rv6navBar .rv6dropDownNav .glow a.rv6navtop:focus {
        border-bottom: 2px solid #7b8738; }
      .rv6navBar .rv6dropDownNav .glow a.selected {
        border-bottom: 2px solid #838383; }
    .rv6navBar .rv6dropDownNav .hide {
      display: none; }
    .rv6navBar .rv6dropDownNav .show {
      display: block; }
    .rv6navBar .rv6dropDownNav .mmLightBorder {
      border: 1px solid #ededed; }
  .rv6navBar .menuhover {
    background: #fff;
    color: #3d3d3d; }
  .rv6navBar .rv6dropDownNavNS {
    position: absolute;
    top: 10px;
    left: 5px; }
    .rv6navBar .rv6dropDownNavNS li {
      line-height: 15px; }
  .rv6navBar .liveSearch {
    background: #888888;
    /* Old browsers */
    background: -moz-linear-gradient(top, #888888 0%, #707070 60%, #606060 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888888), color-stop(60%, #707070), color-stop(100%, #606060));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #888888 0%, #707070 60%, #606060 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #888888 0%, #707070 60%, #606060 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #888888 0%, #707070 60%, #606060 100%);
    /* IE10+ */
    background: linear-gradient(top, #888888 0%, #707070 60%, #606060 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#606060',GradientType=0 );
    /* IE6-9 */
    position: relative;
    float: right;
    height: 27px;
    width: 268px;
    top: -1px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-radius-bottomright: 3px; }
    .rv6navBar .liveSearch label {
      cursor: pointer; }
    .rv6navBar .liveSearch input {
      color: #737373;
      float: left;
      font-size: 1em;
      height: 0.9em;
      margin: 4px 0px 2px 5px;
      padding: 0;
      width: 82%; }
    .rv6navBar .liveSearch input.searchclose {
      background: url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/searchbutton.png) no-repeat 5px 5px;
      border: none;
      color: #fff;
      cursor: pointer;
      display: inline;
      float: right;
      height: 26px;
      width: 28px;
      margin: 1px 2px 0 0;
      padding: 0;
      text-indent: -999em; }
    .rv6navBar .liveSearch .rv6hide {
      height: 1px;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: -500px;
      width: 1px; }
  .rv6navBar .MenuBoxTitle {
    border: 0 !important; }
    .rv6navBar .MenuBoxTitle .hidden {
      position: fixed;
      left: -10000px; }
    .rv6navBar .MenuBoxTitle h3 {
      float: none !important;
      display: block !important; }
    .rv6navBar .MenuBoxTitle input {
      float: none !important;
      display: block !important;
      margin-left: 12px; }

/*.rv6navBar .rv6dropDownNav li:hover a.rv6navtop, .rv6navBar .rv6dropDownNav li:focus a.rv6navtop, .rv6navBar .menuhover .rv6navtop {
    border-bottom: 2px solid #7b8738;
}*/
.headerWrap .widgetWrap .rv6HeaderWidget {
  background: none;
  background-color: #3D3D3D;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .headerWrap .widgetWrap .rv6HeaderWidget .container {
    min-width: 1100px;
    width: 1100px; }

.footerWrap .widgetWrap .footer {
  background-color: #3D3D3D; }
  .footerWrap .widgetWrap .footer .container .left {
    background-color: #3D3D3D; }
  .footerWrap .widgetWrap .footer .container .right {
    background-color: #3D3D3D; }

body {
  background-color: #FFF; }

a {
  background: transparent;
  color: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline; }
  a:link {
    -webkit-tap-highlight-color: #FFCB05; }

strong {
  font-weight: bold; }

input {
  border-left: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  box-shadow: none;
  padding-left: 7px;
  vertical-align: middle; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

::-moz-selection {
  background: #FFCB05;
  color: #3D3D3D;
  text-shadow: none; }

::selection {
  background: #FFCB05;
  color: #3D3D3D;
  text-shadow: none; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* end clearfix */

/*# sourceMappingURL=style.css.map */
