$smallest:.65em;
$small:.75em;
$header:1.5em;
$subheader:1.0em;

body{
	font:16px sans-serif;
	/*font-family: Verdana, sans-serif;*/
}

h2{
	font-size: $header;
}

h3{
	font-size: $subheader;
}

/*h4,p,label{
	font-size: $small;
}*/

h1, h2, h3, h4, h5, h6  {
	 font-weight: bold;
}