.headerWrap {
	margin-bottom: -122px;
}

#wrapper {
	font-size: $small;
	min-height:100%;
	
	#main_content{
		min-width: 1100px;
		margin: 0 auto;
		width:1100px;
		overflow: auto;
		padding-bottom: 165px;
		padding-top: 122px;
		
		.left_column {
			float:left;
			margin: 20px 0 30px;
			width:730px;
			
			.ausa_left {
				min-height: 800px;
				
				.video_description{
					margin: 15px auto;
	
					h3{
						margin-bottom: 10px;
						font-size: 1.5em;
					}
				}
			}
		}
		
		#schedule_wrap {
			border: 1px solid $border;
			font-size: 1.1em;
			height: 30px;
			padding: 10px;
			position: relative;
			
			#schedule_groups{
				position: absolute;
				left: 10px;
				
				#group_select_dl {
					border-left: 1px solid $border;
					border-top: 1px solid $border;
					border-bottom: 1px solid $border;
					cursor: pointer;
					float: left;
					font-weight: bold;
					height: 28px;
					width: 300px;

					dd {
						background-color: $background;
						border-left: 1px solid $border;
						border-right: 1px solid $border;
						border-top: 1px solid $border;
						display: none;
						margin: auto -1px;
						padding: 7px;
						z-index: 999;

						&.last {
							border-bottom: 1px solid $border;
						}

						&:hover,&:focus {
							background-color: $active_state;
						}
					}

					dt {
						margin-bottom: -1px;
						overflow: hidden;
						padding: 7px;
						white-space: nowrap;

						a {
							color: $link;
							text-decoration: none;
						}
					}
				}
				#arrow{
				    background-image: url('http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/drop_down_inactive.png');
				    background-repeat: no-repeat;
				    background-position: center;
				    background-color: transparent;
					cursor: pointer;
					float: left;
					height: 30px;
					width: 62px;
					
					&:hover,&:focus {
						background-image: url('http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/drop_down_active.png');
						background-repeat: no-repeat;
						background-position: center;
						background-color: transparent;
					}
				}
			}
			
			#schedule_search{
				position: absolute;
				right: 10px;
				
				label {
					display: none;
				}
				
				input {
					border-right: none;
					color: $search;
					font-size: 1em;
					float: left;
					height: 26px;
					width: 237px;
				}
				
				.search_icon {
					background-image: url('http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/search_inactive.png');
					background-repeat: no-repeat;
					background-position: right center;
					background-color: transparent;
					float: left;
					cursor: pointer;
					vertical-align: middle;
					height: 30px;
					float: left;
					display: inline;
					width: 62px;
					&:hover,&:focus {
						background-image: url('http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/search_active.png');
						background-repeat: no-repeat;
						background-position: right center;
						background-color: transparent;
					}
				}
				.reset_icon {
					background-image: url('http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/reset_inactive.png');
					background-repeat: no-repeat;
					background-position: right center;
					background-color: transparent;
					float: left;
					cursor: pointer;
					vertical-align: middle;
					height: 30px;
					float: left;
					display: inline;
					width: 62px;
					&:hover,&:focus {
						background-image: url('http://usarmy.vo.llnwd.net/e2/rv5_images/professional/ilw/reset_active.png');
						background-repeat: no-repeat;
						background-position: right center;
						background-color: transparent;
					}
				}
			}
		}
		
		#schedule_items {
			border-left: 1px solid $border;
			border-right: 1px solid $border;
			.item_wrap {
				border-bottom: 1px solid $border;
				cursor: pointer;
				padding: 10px;
				
				h2{
					font-size: 1.5em;
				}
				
				&:hover, &:focus {
					background-color: $active_state;
				}
				
				&.active {
					background-color: $active_state;
				}
			}
			.indent {
				margin-left: 20px;
			}
			ul{
				list-style-type: disc;
				margin-left: 20px;
			}
			.Tues,.Wed,.search_results{
				display: none;
			}
		}
		
		.right_column {
			float: left;
			margin: 20px 0 30px 21px;
			max-height: 1200px;
			min-width: 347px;
			overflow: auto;
			width:347px;
			
			// different styles for right_column schedule
			#schedule_wrap {
				height: 70px;
				
				#schedule_groups {
					float: left;
					left: 0;
					margin-top: 10px;
					position: relative;
					
					#group_select_dl {
						width: 245px;
					}
				}
				
				#schedule_search {
					float: left;
					position: relative;
					right: 0;
					
					input {
						z-index: 1;
					}
				}
			}
		}

		.fb_feed{
			float: left;
			margin-right: 10px;
			width: 62%;
		}

		.twitter_feed{
			float: left;
		}
	}
}

#index{
	#wrapper{
		#main_content {
			.right_column{
				border: none;
			}
		}
	}
}


#twitter_feed_wrap h5{
	padding-bottom: 10px;
}