@import 'reset';
@import 'colors';
@import 'fonts';
@import 'index';
@import '../main/banner';
@import '../main/footer';
@import '../main/menu';

.headerWrap{
	.widgetWrap{
		.rv6HeaderWidget{
			background: none;
			background-color: $dark-background;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
			
			.container {
				min-width: 1100px;
				width: 1100px;
			}
		}
	}
}

.footerWrap{
	.widgetWrap{
		.footer{
			background-color: $dark-background;
			
			.container{
				.left{
					background-color: $dark-background;
				}
				.right{
					background-color: $dark-background;
				}
			}
		}
	}
}

body{
	background-color: $background;
}

a {
	background:transparent;
	color: inherit;
	font-size:100%;
	margin:0;
	padding:0;
	text-decoration: none;
	vertical-align:baseline;
	
	&:link {
		-webkit-tap-highlight-color: $highlight;
	}
}

strong {
	font-weight: bold;
}

input {
	
	border-left: 1px solid $border;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	box-shadow: none;
	padding-left: 7px;
	vertical-align: middle;
}

input:invalid, textarea:invalid {
	border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow: 0px 0px 5px red;
	box-shadow: 0px 0px 5px red;
}

::-moz-selection {
	background:$highlight;
	color:$dark-background;
	text-shadow: none;
}

::selection {
	background:$highlight;
	color:$dark-background;
	text-shadow: none;
}

.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
/* end clearfix */



